body{
 background: url("../img/bg.png") no-repeat left fixed;
 background-size: cover;
}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 80px  !important;
    text-shadow: 2px 2px #FFBD59;
    color: #FFDE59;
}
#txt{
    margin-top: 25vh;
}
#logo{
    width: 90px;
    height: 90px;
}
.row{
    max-width: 100%;
}
.bcolor{
    background-color: #6AB5DB !important;
}