{% extends "index.html" %}

{% block body %}
<div class="container d-flex justify-content-center">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
           <p>
              {{ form.username.label }}<br>
              {{ form.username(size=25) }}<br>
              {% for error in form.username.errors %}
              <div class="alert alert-danger" role="alert">
               {{ error }}
              </div>
              {% endfor %}
          </p>

          <p>
              {{ form.password.label }}<br>
              {{ form.password(size=25) }}<br>
              {% for error in form.password.errors %}
              <div class="alert alert-danger" role="alert">
               {{ error }}
              </div>
              {% endfor %}
          </p>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          <p>{{ form.submit() }}</p>
          </form>
        </div>
      </div>
</div>
{% endblock %}